* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: cornsilk;
}

section .container .spotify {
  width: 80%;
  margin: 0 auto;
}

section .container .spotify .box {
  text-align: center;
  width: 37%;
  height: 450px;
  background-color: antiquewhite;
  padding: 25px 0;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 100px;
}

section .container .spotify .box .up img {
  width: 50%;
  height: 150px;
  border-radius: 20px;
}

section .container .spotify .box .down {
  width: 90%;
  background-color: burlywood;
  border-radius: 35px;
  margin: 0 auto;
}

section .container .spotify .box .down input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

section .container .spotify .box .down input[type=range]:focus {
  outline: none;
}

section .container .spotify .box .down input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  -webkit-box-shadow: 0px 0px 4px #000000;
          box-shadow: 0px 0px 4px #000000;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #000000;
}

section .container .spotify .box .down input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 0px 0px 2px #000000;
          box-shadow: 0px 0px 2px #000000;
  border: 1px solid #000000;
  height: 11px;
  width: 14px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -3px;
}

section .container .spotify .box .down input[type=range]:focus::-webkit-slider-runnable-track {
  background: #FFFFFF;
}

section .container .spotify .box .down input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 4px #000000;
  background: #FFFFFF;
  border-radius: 5px;
  border: 1px solid #000000;
}

section .container .spotify .box .down input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 2px #000000;
  border: 1px solid #000000;
  height: 11px;
  width: 14px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}

section .container .spotify .box .down input[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

section .container .spotify .box .down input[type=range]::-ms-fill-lower {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #000000;
}

section .container .spotify .box .down input[type=range]::-ms-fill-upper {
  background: #FFFFFF;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #000000;
}

section .container .spotify .box .down input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 2px #000000;
  border: 1px solid #000000;
  height: 11px;
  width: 14px;
  border-radius: 5px;
  background: #FFFFFF;
  cursor: pointer;
}

section .container .spotify .box .down input[type=range]:focus::-ms-fill-lower {
  background: #FFFFFF;
}

section .container .spotify .box .down input[type=range]:focus::-ms-fill-upper {
  background: #FFFFFF;
}

section .container .spotify .box .down #range {
  width: 80%;
  margin: 0 auto;
  cursor: pointer;
}

section .container .spotify .box .down .play i {
  margin: 10px 0;
  color: #fff;
  cursor: pointer;
}
/*# sourceMappingURL=style.css.map */